 .trip-list {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 .trip-item {
    margin-bottom: 30px;
 }

 .trip-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
 }

 .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
 }
 
.vertical-image {
    display: block;
    margin-bottom: 10px;
}

.new-me-image {
    width: 325px;
    height: auto;
}

.mia-button {
   background-color: #cbc3e3;
}
