.trip-list {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.trip-item {
    display: list-item;
    text-align: center;
}

.vertical-image {
    display: block;
    margin-bottom: 10px;
}