#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Setting background color */
body {
  /* background-color: #efebe0; */
  background-color: rgb(255, 251, 240);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #424242;
  }
}

.corner-image {
  position: absolute;
  z-index: 1000;
  width: 75px;
  height: auto;
}

.top-right {
  top: 0;
  left: 0;
  margin: 10px;
}