
.light-grey-block {
    background-color: #d3d3d3;
    border: 1px solid black;
}

.light-green-block {
    background-color: #00c04b;
    border: 1px solid black;
}

.dark-green-block {
    background-color: #008631;
    border: 1px solid black;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden; /* Hidden by default */
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the container */
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible; /* Show when container is hovered */
  opacity: 1;
}

